---
layout: default
---
<div class="container" itemscope itemtype="http://schema.org/Recipe">

  <header>
    <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ page.title }}</h1>
  </header>

<!-- call up the image and image credit link -->
  <div class="image-container">
    <img itemprop="image" src="./image-1.jpeg" />

    <figcaption>
      <div class="px2 mt3">
        <div class="sm-col-8 mx-auto" itemprop="description">{{page.content}}</div>
      </div>
    </figcaption>
  </div>

<article class="post-content px2">

  <div class="mt3 clearfix">
    <div class="sm-col sm-col-12 lg-col-12">
      {% include nutritional-information.html %}
    </div>
  </div>

  <!-- call up recipe and directions -->
  <div class="clearfix mt3">

    <div class="sm-col sm-col-6 lg-col-6">
      <!-- check if it's a component-based recipe -->
      {% if page.components %}
      <h4 class="blue mt0 mb2 xs-center">{{ site.translation[site.language].components }}</h4>
      <ul>
        <!-- list components that make up recipe -->
        {% for component in page.components %}
        <li>{{ component | markdownify }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if page.ingredients %}
      <h4 class="blue mt0 mb2 xs-center">{{ site.translation[site.language].ingredients }}</h4>

      {{ page.ingredients | markdownify | replace: '<ul>', '<ul itemprop="ingredients">' | replace: '<li>', '<li itemprop="recipeIngredient">' }}

      {% endif %}

    </div>

    <div class="sm-col sm-col-6 lg-col-6">
      <h4 class="blue mt0 mb2 xs-center">{{ site.translation[site.language].directions }}</h4>
      <div itemprop="recipeInstructions">
        {{ page.directions | markdownify }}
      </div>
    </div>

  </div>
<!-- end recipe and directions -->

  {% for category in page.categories %}
    <p class="clearfix">{{ site.translation[site.language].category }}: <span itemprop="recipeCategory">{{ category }}</span></p>
  {% endfor %}

  <img class="clearfix runner" itemprop="image" src="./image-2.jpeg" />

  </article>

</div>

<script type="text/javascript">

  $( document ).ready(function() {

  jQuery.fn.clickToggle = function(a,b) {
  var ab=[b,a];
  function cb(){ ab[this._tog^=1].call(this); }
  return this.on("click", cb);
  };

  $("ul li").append('<input type="checkbox">');
  $("ul li").clickToggle(function(){
    $(this).children("input").prop('checked', true);
    var height = $(this).height();
    var y = $(window).scrollTop();
    $('html, body').animate({scrollTop: y+height+16}, 200);
  }, function(){
    $(this).children("input").prop('checked', false);
    var height = $(this).height();
    var y = $(window).scrollTop();
    $('html, body').animate({scrollTop: y-height-16}, 200);
  });

  });

</script>
